
{% extends 'base.html' %}

{% block content %}

<!--Flask Flashed Messages to User--><div class="container">{% with messages = get_flashed_messages(with_categories = true) %}{% if messages %}{% for cat,msg in messages %}{% if cat == 'user-created'%}<div class="alert alert-success">{{ msg }}<button type="button" class="close" data-dismiss = "alert">&times;</button></div>{% elif cat == 'auth-success' %}<div class="alert alert-success">{{ msg }}<button type="button" class="close" data-dismiss = "alert">&times;</button></div>{% endif %}{% endfor %}{% endif %}{% endwith %}</div>

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id='header-text'>
            <h3>Let's build the future of car collecting together!</h3>
            <h5>Create an amazing API tool for car collecting developpers</h5>
            <div><button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            
        </div>
    </header>

    <section class="row text-center">
        <div class="col-12" id="middle-text">
            <h2>Display Your collection</h2>
            <p>You can harness the power of an API to expand your collection</p>
        </div>
    </section>

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
             
            <h4>Dedicated APi routes</h4>
            <p>If you are a fan of using traditional API routes, we've got those for you.</p>
        </div>
        <div class="col-12 col-md-4">
            
            <h4>GraphQL API Route</h4>
            <p>if you want all data from one endpoint, we have that too!</p>
        </div>
        <div class="col-12 col-md-4">
            
            <h4>Backed by a PostgreSQL database</h4>
            <p>All data will be persisted inside of a secure postgres database</p>
        </div>
    </section>

    <section class="row">
        <div class="col-12 col-md-6"> 
            
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded car collectors!</h4>
            <p>
                Talk with others devs around the world and collab
                on projects with your data. Join our slack channel and give
                a star on the github project
            </p>
            <div>
                <button class="btn btn-primary">
                    View on Github
                </button>
                <button class="btn btn-primary">
                    Join Our Slack
                </button>
            </div>
        </div>
    </section>
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flexx">
                <h4>Platform</h4>
                <p>Why Coding car?</p>
                <p>The coding Drones project</p>
                <p>Donate</p>
                <p>Spread the word</p>
                <p>Our proces</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flexx">
                <h4>Platform</h4>
                <p>Why Coding car?</p>
                <p>The coding Drones project</p>
                <p>Donate</p>
                <p>Spread the word</p>
                <p>Our proces</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flexx">
                <h4>Platform</h4>
                <p>Why Coding car?</p>
                <p>The coding Drones project</p>
                <p>Donate</p>
                <p>Spread the word</p>
                <p>Our proces</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flexx">
                <h4>Platform</h4>
                <p>Why Coding car?</p>
                <p>The coding Drones project</p>
                <p>Donate</p>
                <p>Spread the word</p>
                <p>Our proces</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flexx">
                <h4>Platform</h4>
                <p>Why Coding car?</p>
                <p>The coding Drones project</p>
                <p>Donate</p>
                <p>Spread the word</p>
                <p>Our proces</p>
            </div>
        </div>
    </footer>
</div>

{% endblock content %}

